 @charset "UTF-8";
 mark {
      background-color: aquamarine;
    }
    body {
background-color:rgb(199, 186, 179) ;
    }
    h1 {
      color:rgb(38, 1, 1);
    }
    h2 {
      color:rgb(89, 40, 22);
    }
    h3 {
      color:rgb(177, 98, 69);
    }
    p {
      text-align: justify;
    }